{
	"env": {
		"es2022": true,
		"node": true,
		"browser": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"eslint-config-prettier",
		"standard"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"rules": {
		"space-before-function-paren": "off",
		"no-unused-vars": "warn",
		"@typescript-eslint/no-explicit-any": "warn",
		"@typescript-eslint/no-unused-vars": [
			"warn",
			{
				"argsIgnorePattern": "^_",
				"varsIgnorePattern": "^_",
				"caughtErrorsIgnorePattern": "^_"
			}
		],
		"no-multiple-empty-lines": "off",
		"no-tabs": "off",
		"indent": [
			"warn",
			"tab"
		],
		"quotes": [
			"warn",
			"single"
		],
		"jsx-quotes": [
			"warn",
			"prefer-single"
		],
		"eol-last": "off"
	}
}