@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

body {
	background: #09090E;
	overflow-x: hidden;
}

@layer components {
	.header-animate {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		animation: reduce-header linear both;
		animation-timeline: scroll();
		animation-range: 0 150px;
	}
}

@layer components {
	.ticket-dash-border {
		background-image: linear-gradient(hsla(0, 0%, 100%, 0.2) 0%, hsla(0, 0%, 100%, 0.2) 50%, transparent 50%);
		background-size: 0.0625rem 1.125rem;
		background-position: 100% 0;
		background-repeat: repeat-y;
	}

	.ticket-dash-border-top {
		background-image: linear-gradient(to right, hsla(0, 0%, 100%, 0.2) 0%, hsla(0, 0%, 100%, 0.2) 50%, transparent 50%);
		background-size: 1.125rem 0.0625rem;
		background-position: 0 0;
		background-repeat: repeat-x;
	}
}

@layer components {
	.flavors-gradient-list {
		mask: linear-gradient(to top, transparent, black 4rem);
		-webkit-mask: linear-gradient(to top, transparent, black 4rem);
	}
}

@layer components {
	.ticket-gradient-bg {
		background: radial-gradient(120% 100% at 90% 10%,
				#A3D8FF 0%,
				#3640e2 23%,
				#6639d9 50%,
				#657fd8 74%,
				#95bdf4 100%),
			radial-gradient(120% 100% at 10% 90%,
				#a3d9ff50 0%,
				#3640e250 23%,
				#6639d950 50%,
				#657fd850 74%,
				#95bdf450 100%);
		background-size: 200% 200%;
		background-blend-mode: multiply;
		animation: animateGradient 10s infinite alternate linear;
		z-index: 1;
	}

	.ticket-gradient-bg::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1;
		background: linear-gradient(-72deg,
				#ffffff 0%,
				rgb(0, 0, 0, .0) 16%,
				#ffffff 24%,
				rgb(0, 0, 0, .0) 33%,
				rgb(0, 0, 0, .0) 40%,
				#fff8f8 50%,
				rgb(0, 0, 0, .0) 61%,
				rgb(0, 0, 0, .0) 74%,
				#ffffff 83%,
				rgb(0, 0, 0, .0) 92%,
				#ffffff 100%);
		background-size: 200% 100%;
		opacity: .4;
		animation: animateLightGradient 120s infinite alternate linear;
	}

	.ticket-gradient-bg::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: -1;
		background-image: url(/img/tickets-effect/gradient.png);
		background-size: 50px 50px;
		opacity: 0.7;
	}

	@keyframes animateGradient {
		0% {
			background-position: 0% 0%;
		}

		25% {
			background-position: 50% 50%;
		}

		50% {
			background-position: 100% 100%;
		}

		75% {
			background-position: 50% 50%;
		}

		100% {
			background-position: 0% 0%;
		}
	}

	@keyframes animateLightGradient {
		0% {
			background-position: 0% 0%;
		}

		25% {
			background-position: 50% 0%;
		}

		50% {
			background-position: 100% 0%;
		}

		75% {
			background-position: 50% 0%;
		}

		100% {
			background-position: 0% 0%;
		}
	}
}

@layer components {
	.ticket-premium-bg {
		position: relative;
		background-image: url(/img/tickets-effect/bg.png);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		z-index: 1;
		overflow: hidden;
	}

	.ticket-premium-bg::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		inset: 0;
		background: linear-gradient(to left bottom, #a172f750 0%, #a172f700 100%),
			linear-gradient(to right top, #5bc4f450 0%, #a172f700 0%);
		opacity: 0.5;
		animation: animateGradientPremium 10s infinite alternate linear;
	}

	.ticket-premium-bg::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		inset: 0;
		background: url(/img/tickets-effect/noise.png);
		background-size: 50px 50px;
		opacity: 0.4;
	}

	@keyframes animateGradientPremium {
		0% {
			opacity: 0.5;
		}

		25% {
			opacity: 0.7;
		}

		50% {
			opacity: 0.9;
		}

		75% {
			opacity: 0.7;
		}

		100% {
			opacity: 0.5;
		}
	}
}

@layer utilities {
	.hidden-scroll::-webkit-scrollbar {
		width: 0;
	}

	::-webkit-scrollbar-track {
		/* Customize the scrollbar track */
	}

	::-webkit-scrollbar-thumb {
		/* Customize the scrollbar thumb */
	}
}

@keyframes reduce-header {
	to {
		box-shadow: 0 5px 50px -5px hsla(0, 0%, 100%, .1), 0 0 0 1px hsla(0, 0%, 100%, .10);
		background: rgba(0, 0, 0, .3);
		padding-block: 1rem;
		backdrop-filter: blur(10px);
	}
}

/* aplicar background al header cuando hacemos scroll */
.animation-header {
	animation: animation-header-scroll linear both;
	animation-timeline: scroll();
	animation-range: 0 200px;
}

@keyframes animation-header-scroll {
	to {
		background-color: #09090E;
		padding-inline: 1rem;
		padding-block: .5rem;
	}
}

@media (width>768px) {

	/* movimiento y opacidad en las cards de los speakers */
	.animation-speaker {
		view-timeline-name: --reveal;
		animation-name: animation-speaker-scroll;
		animation-fill-mode: both;
		animation-timeline: --reveal;
		animation-range: entry 25% cover 50%;
	}

	.animation-speaker-peer {
		view-timeline-name: --reveal-peer;
		animation-name: animation-speaker-scroll-peer;
		animation-fill-mode: both;
		animation-timeline: --reveal-peer;
		animation-range: entry 25% cover 50%;
	}
}

@keyframes animation-speaker-scroll {
	from {
		opacity: 0;
		transform: translateY(4rem);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes animation-speaker-scroll-peer {
	from {
		opacity: 0;
		transform: translateY(8rem);
	}

	to {
		opacity: 1;
		transform: translateY(4rem);
	}
}