---
// JavaScript
const iLoveJavaAsProgrammingLanguage = 'a' // this is a lie, but somebody paid for this XD
const htmlEsUnLenguajeDeProgramacion = false
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{iLoveJavaAsProgrammingLanguage}</title>
	</head>
	<body>
		<h1 class='text-2xl underline'>{iLoveJavaAsProgrammingLanguage}</h1>
	</body>
</html>