---
// import { getAllSpeakers } from "@services/speakers.js";
import Layout from "@layouts/base.astro";
import Header from "@components/Header.astro";
import HomePrincipal from "@components/HomePrincipal.astro";
import HomeSponsors from "@components/HomeSponsors.astro";
import HomeSpeakers from "@components/HomeSpeakers.astro";
import Footer from "@components/Footer.astro";
import FAQ from "@components/Faq.astro";
 // const speakers = await getAllSpeakers();
---

<Layout>
  <main class="overflow-auto h-screen">
    <Header />
    <HomePrincipal />
    <HomeSponsors />
    <HomeSpeakers />
    <FAQ />
    <Footer />
  </main>
</Layout>