---
import AstroLogo from '../components/logos/Astro.astro'
---

<a class='fixed left-0 right-0 flex items-center justify-center w-3/4 p-1 m-auto overflow-hidden text-sm font-bold transition-all bg-white border-2 shadow-2xl sm:px-4 sm:py-2 gap-x-2 sm:flex-col sm:w-48 rounded-3xl bottom-4 sm:left-auto sm:bottom-8 sm:right-8 hover:scale-125' target='_blank' rel='noreferrer noopener' href='https://midu.link/astro'>
Desarrollado con <div class='flex items-center w-16 h-8 sm:w-24 sm:h-8'><AstroLogo color='black' /></div>
</a>
