<footer class="relative w-full overflow-hidden bg-gradient-to-r from-miduconf-yellow-100 via-miduconf-yellow-100 to-miduconf-orange-100">
  <div class="block px-6 py-10 mx-auto max-w-7xl">
    <p class="font-semibold text-center text-slate-600">
      Desarrollado moviendo las manitas y con mucho <svg class="inline-block w-6 h-6" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg"><path fill="#EA5A47" d="M59.5 25c0-6.9036-5.5964-12.5-12.5-12.5-4.7533 0-8.8861 2.6536-11 6.5598C33.8861 15.1536 29.7533 12.5 25 12.5c-6.9036 0-12.5 5.5964-12.5 12.5 0 2.9699 1.0403 5.6942 2.7703 7.8387l-.0043.0034L36 58.5397l20.7339-25.6975-.0043-.0034C58.4597 30.6942 59.5 27.9699 59.5 25z"/><path fill="none" stroke="#000" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M59.5 25c0-6.9036-5.5964-12.5-12.5-12.5-4.7533 0-8.8861 2.6536-11 6.5598C33.8861 15.1536 29.7533 12.5 25 12.5c-6.9036 0-12.5 5.5964-12.5 12.5 0 2.9699 1.0403 5.6942 2.7703 7.8387l-.0043.0034L36 58.5397l20.7339-25.6975-.0043-.0034C58.4597 30.6942 59.5 27.9699 59.5 25z"/></svg>
    </p>
  </div>  

</footer>