<footer
	class='relative w-full overflow-hidden bg-gradient-to-r from-miduconf-yellow-100 via-miduconf-yellow-100 to-miduconf-orange-100'
>
	<div class='block px-6 py-10 mx-auto max-w-7xl'>
		<p class='mb-4 font-semibold text-center text-slate-900 hover:underline'>
			<a class='flex items-center justify-center' href='mailto:miduconf@gmail.com'>
				¿Quieres contactar? Escríbenos a miduconf@gmail.com
				<svg
					class='inline-block w-6 h-6 ml-1'
					viewBox='0 0 72 72'
					xmlns='http://www.w3.org/2000/svg'
				><path
						fill='#D0CFCE'
						d='m28 37-4 4-1.3301-.4409L11.4549 50.89c-.35-.6201-.57-1.44-.57-2.32V22.06L28 37z'
					></path><path
						fill='#9B9B9A'
						d='M60.8249 22.01v26.56c0 .86-.2 1.65-.55 2.27L48.9583 40.478l-1.0289.0579-4.0645-3.806 16.96-14.7199z'
					></path><path fill='none' d='m11.5207 21.6493-.0624-.039'></path><path
						fill='#D0CFCE'
						d='m26.8049 36.75 4.47 4.13c.24.22.48.41.72.57 2.4301 1.8 5.26 1.8 7.6801-.01.23-.16.47-.36.69-.56l4.5-4.15'
					></path><path
						fill='#D0CFCE'
						stroke='#D0CFCE'
						stroke-linecap='round'
						stroke-linejoin='round'
						stroke-miterlimit='10'
						stroke-width='1.8'
						d='m26.8049 36.75 4.47 4.13c.24.22.48.41.72.57 2.4301 1.8 5.26 1.8 7.6801-.01.23-.16.47-.36.69-.56l4.5-4.15 15.41 14.11c-.42.77-1.07 1.27-1.79 1.27h-45.26c-.7 0-1.34-.47-1.77-1.22l15.3499-14.14'
					></path><path
						fill='#D0CFCE'
						d='M47.9294 39.536 60.2749 50.84c-.42.77-1.07 1.27-1.79 1.27h-45.26c-.7 0-1.34-.47-1.77-1.22L23.533 39.764'
					></path><path
						fill='#D0CFCE'
						d='m60.8249 22.01-15.96 14.72-4.5 4.15c-.22.2-.46.4-.69.56-2.42 1.81-5.25 1.81-7.6801.01-.24-.16-.48-.35-.72-.57l-4.47-4.13-15.92-14.69c.04-.06.09-.13.14-.2.42-.6.99-.96 1.61-.96h46.48c.59 0 1.16.35 1.5699.91.0502.06.1002.13.1402.2z'
					></path><g
						fill='none'
						stroke='#000'
						stroke-linecap='round'
						stroke-linejoin='round'
						stroke-miterlimit='10'
						stroke-width='2'
					><path
							d='M22.6699 40.5591 11.4549 50.89c-.35-.6201-.57-1.44-.57-2.32V22.06M60.8249 22.01v26.56c0 .86-.2 1.65-.55 2.27L48.9583 40.478M11.5207 21.6493l-.0624-.039M26.8049 36.75l4.47 4.13c.24.22.48.41.72.57 2.4301 1.8 5.26 1.8 7.6801-.01.23-.16.47-.36.69-.56l4.5-4.15'
						></path><path
							d='M47.9294 39.536 60.2749 50.84c-.42.77-1.07 1.27-1.79 1.27h-45.26c-.7 0-1.34-.47-1.77-1.22L23.533 39.764'
						></path><path
							d='m60.8249 22.01-15.96 14.72-4.5 4.15c-.22.2-.46.4-.69.56-2.42 1.81-5.25 1.81-7.6801.01-.24-.16-.48-.35-.72-.57l-4.47-4.13-15.92-14.69c.04-.06.09-.13.14-.2.42-.6.99-.96 1.61-.96h46.48c.59 0 1.16.35 1.5699.91.0502.06.1002.13.1402.2z'
						></path>
					</g>
				</svg>
			</a>
		</p>

		<p class='font-semibold text-center text-slate-600'>
			Desarrollado moviendo las manitas y con mucho <svg
				class='inline-block w-6 h-6'
				viewBox='0 0 72 72'
				xmlns='http://www.w3.org/2000/svg'
			><path
					fill='#EA5A47'
					d='M59.5 25c0-6.9036-5.5964-12.5-12.5-12.5-4.7533 0-8.8861 2.6536-11 6.5598C33.8861 15.1536 29.7533 12.5 25 12.5c-6.9036 0-12.5 5.5964-12.5 12.5 0 2.9699 1.0403 5.6942 2.7703 7.8387l-.0043.0034L36 58.5397l20.7339-25.6975-.0043-.0034C58.4597 30.6942 59.5 27.9699 59.5 25z'
				></path><path
					fill='none'
					stroke='#000'
					stroke-linejoin='round'
					stroke-miterlimit='10'
					stroke-width='2'
					d='M59.5 25c0-6.9036-5.5964-12.5-12.5-12.5-4.7533 0-8.8861 2.6536-11 6.5598C33.8861 15.1536 29.7533 12.5 25 12.5c-6.9036 0-12.5 5.5964-12.5 12.5 0 2.9699 1.0403 5.6942 2.7703 7.8387l-.0043.0034L36 58.5397l20.7339-25.6975-.0043-.0034C58.4597 30.6942 59.5 27.9699 59.5 25z'
				></path>
			</svg>
		</p>
	</div>
</footer>
