---
import MenuIcon from './icons/Menu.astro'
---

<header class='flex items-center p-6 text-center lg:justify-center'>
	<input type='checkbox' id='menu' hidden class='peer ' />
	<label
		for='menu'
		class='relative z-50 lg:hidden peer-checked:[&>.first]:hidden peer-checked:[&>.last]:block'
	>
		<MenuIcon />
	</label>
	<nav
		class='absolute top-0 left-0 right-0 z-40 hidden min-h-screen py-24 bg-white peer-checked:block lg:block lg:static lg:bg-inherit lg:py-0 lg:min-h-0 bg-opacity-40 backdrop-blur-lg lg:backdrop-blur-0'
		id='navbar'
	>
		<ul
			class='flex flex-col items-center lg:items-start lg:flex-row font-semibold tracking-tight gap-x-8 text-slate-700 [&>li>a]:border-b-2 [&>li>a]:border-b-transparent [&>li>a]:transition-all gap-y-4'
		>
			<li class='flex-1'>
				<a href='/' class='hover:border-b-black hover:text-black'>Inicio</a>
			</li>
			<li class='relative flex lg:flex-col'>
				<a
					class='relative hover:border-b-black hover:text-black'
					href='/#agenda'
				>
					Agenda
				</a>
				<div class='pl-2'>
					<span
						class='bg-green-300 text-black text-xs font-semibold px-2.5 py-0.5 rounded'
					>¡Ya disponible!
					</span>
				</div>
			</li>
			<li class='relative flex lg:flex-col'>
				<a class='hover:border-b-black hover:text-black' href='/#speakers'>Speakers</a>
			</li>
			<li>
				<a class='hover:border-b-black hover:text-black' href='/#patrocinadores'>Patrocinadores</a>
			</li>
			<li>
				<a class='hover:border-b-black hover:text-black' href='/codigo-de-conducta'
				>Código de Conducta
				</a>
			</li>
		</ul>
	</nav>
</header>

<script type='module'>
const menuCheckbox = document.getElementById('menu')
const mediaQuery = window.matchMedia('(min-width: 1024px)') // Breakpoint lg
const $navbar = document.querySelector('#navbar')

$navbar.querySelectorAll('a').forEach(anchor => {
	anchor.addEventListener('click', (_event) => {
		if (document.body.style.overflowY === 'hidden') {
			hideOverFlow(false)
		}
	})
})

/** @param {boolean} value */
function hideOverFlow (value) {
	if (value) {
		window.scrollTo(0, 0)
		document.body.style.overflowY = 'hidden'
	} else {
		document.body.style.overflowY = 'auto'
	}
}

menuCheckbox.addEventListener('change', (e) =>
	e.target.checked ? hideOverFlow(true) : hideOverFlow(false)
)

mediaQuery.addEventListener('change', (e) => {
	if (e.matches) {
		hideOverFlow(false)
		menuCheckbox.checked = false
	}
})
</script>
