---
import SpeakerCard from '@components/SpeakerCard.astro'

const speakers = [
	{
		avatar: 'rauchg.webp',
		twitter: 'https://twitter.com/rauchg',
		github: 'https://github.com/rauchg',
		speaker: 'Guillermo Rauch',
		description: 'CEO y Fundador, Vercel'
	},
	{
		avatar: 'freddier.webp',
		twitter: 'https://twitter.com/freddier',
		github: 'https://github.com/freddier',
		speaker: 'Freddy Vega',
		description: 'CEO y Fundador, Platzi'
	},
	{
		avatar: 'obrien.webp',
		twitter: 'https://twitter.com/debs_obrien',
		github: 'https://github.com/debs-obrien',
		speaker: 'Debbie O\'Brien',
		description: 'Senior Program Manager, Microsoft'
	},
	{
		avatar: 'teffcode.webp',
		twitter: 'https://twitter.com/teffcode',
		github: 'https://github.com/teffcode',
		speaker: 'Estefany Aguilar',
		description: 'Sr. Frontend Dev, LaHaus'
	}, {
		avatar: 'delacruz.webp',
		twitter: 'https://twitter.com/danidlcdev',
		github: 'https://github.com/delacruz-dev',
		speaker: 'Dani de la Cruz',
		description: 'Team Lead en Datadog'
	},
	{
		avatar: 'codely.webp',
		twitter: 'https://twitter.com/codelytv',
		github: 'https://github.com/codelytv',
		speaker: 'CodelyTV Team',
		description: '¡El equipo al completo!'
	},
	{
		avatar: 'samar.webp',
		twitter: 'https://twitter.com/samarj_h',
		github: 'https://github.com/samarjaffal',
		speaker: 'Samar Jaffal',
		description: 'Software Engineer'
	},
	{
		avatar: 'irene-morgado.webp',
		twitter: 'https://twitter.com/IrnMM',
		speaker: 'Irene M. Morgado',
		description: 'Head Talent & Brand Kairós DS'
	},
	{
		avatar: 'carlos.webp',
		twitter: 'https://twitter.com/carlosble',
		github: 'https://github.com/carlosble',
		speaker: 'Carlos Blé',
		description: 'Líder de Lean Mind'
	},
	{
		avatar: 'nerea.webp',
		twitter: 'https://twitter.com/sailormerqury',
		speaker: 'Nerea Luis',
		description: 'Artificial Intelligence Engineer Lead en Sngular'
	},
	{
		avatar: 'marta.webp',
		twitter: 'https://twitter.com/martaarcones',
		github: 'https://github.com/arcones',
		speaker: 'Marta Arcones',
		description: 'DevOps Engineer & Tech Lead'
	},
	{
		avatar: 'leonardo.webp',
		twitter: 'https://twitter.com/leonardopoza',
		speaker: 'Leonardo Poza',
		description: 'Scout en Manfred'
	},
	{
		avatar: 'yodra.webp',
		twitter: 'https://twitter.com/yodralopez',
		speaker: 'Yodra López',
		github: 'https://github.com/yodra',
		description: 'Software Developer The Agile Monkeys'
	},
	{
		avatar: 'romulo.webp',
		twitter: 'https://twitter.com/romulocintra',
		speaker: 'Rómulo Cintra',
		github: 'https://github.com/romulocintra',
		description: 'Miembro del TC39'
	}
]
---

<section class='w-full px-10 mx-auto lg:py-24 max-w-7xl'>
	<div class='space-y-12 md:text-left'>
		<div class='mb-20 space-y-5 sm:mx-auto sm:space-y-4'>

			<h2 class='pt-20 text-4xl font-black text-center text-white sm:text-6xl'>
				<span id='speakers' class='text-transparent bg-clip-text bg-gradient-to-r from-blue-300 via-blue-500 to-blue-100'
				>Speakers
				</span>
			</h2>

		</div>
		<div
			class='pb-20 mx-auto space-y-16 sm:grid sm:grid-cols-2 sm:gap-16 sm:space-y-0 lg:grid-cols-3 lg:max-w-5xl'
		>
			{
				speakers.map(speaker => <SpeakerCard {...speaker} />)
			}
		</div>
	</div>
</section>
