---
import Algolia from '@components/logos/Algolia.astro'
import Arc from '@components/logos/Arc.astro'
import GitHub from '@components/logos/GitHub.astro'
import Rapid from '@components/logos/Rapid.astro'
import Twilio from '@components/logos/Twilio.astro'
import Codely from '@components/logos/Codely.astro'
import Manfred from '@components/logos/Manfred.astro'
import Platzi from '@components/logos/Platzi.astro'
import AstroLogo from '@components/logos/Astro.astro'
import Talently from '@components/logos/Talently.astro'
import PlainConcepts from '@components/logos/PlainConcepts.astro'
---

	<section class='flex flex-col items-center justify-center px-10 pb-40 mx-auto max-w-7xl'>

		<h2 id='patrocinadores' class='pt-20 pb-8 text-4xl font-black text-center text-white sm:text-6xl'>
			<span class='text-transparent bg-clip-text bg-gradient-to-r from-yellow-200 via-yellow-300 to-yellow-100'>Patrocinadores</span>
		</h2>

		<div class='pt-8 flex flex-row flex-wrap items-center justify-center text-gray-400 gap-x-12 gap-y-6 [&>a]:transition-opacity '>
			<div class='flex flex-col items-center justify-center gap-y-8'>
				<a class='w-48 h-auto transition hover:saturate-200 hover:scale-125' target='_blank' rel='noopener noreferrer' href='https://www.sanmiguel.com/es/cervezas/'>
					<img loading='lazy' src='san-miguel.webp' alt='San Miguel' />
				</a>
				<Talently />
				<a href='https://www.octogatosconf.com/' target='_blank' rel='noopener noreferrer' class='w-32 h-32 transition hover:saturate-200 hover:scale-125'>
					<GitHub color='white' />
				</a>
			</div>
			<div class='flex flex-col gap-y-8'>
				<Platzi />
				<Manfred />
				<Codely />
			</div>

			<div class='flex flex-col items-center justify-center max-w-md'>
				<a class='flex items-center w-64 h-32 text-white transition-all hover:contrast-200 hover:scale-125' target='_blank' href='https://www.plainconcepts.com/es/'>
					<PlainConcepts />
				</a>
				<a class='flex items-center w-64 h-32 transition-all hover:contrast-200 hover:scale-125' target='_blank' href='https://midu.link/astro'>
					<AstroLogo />
				</a>
				<div class='flex flex-wrap items-center justify-center max-w-[350px] gap-8'>
					<Algolia />
					<Rapid />
					<Twilio />
					<Arc />
				</div>
			</div>
		</div>
	</section>
