---
import Button from "@components/Button.astro";
---

<div class="block px-6 mx-auto max-w-7xl">
    <div
        class="flex flex-col flex-wrap items-center justify-center w-full pt-5 pb-40 mx-auto leading-6 text-center text-black lg:pt-24 lg:px-10 lg:flex-row">
        <div class="relative flex flex-col items-center w-full text-black">
            <h1
                class="pt-4 mx-auto mb-4 text-6xl font-black bg-clip-text text-transparent bg-gradient-to-r from-slate-900 via-slate-800 to-zinc-900 xl:pt-6 sm:text-[6rem] lg:text-[8rem] leading-none">
                #miduConf
            </h1>

            <p
                class="font-bold tracking-wider text-transparent bg-clip-text bg-gradient-to-r from-cyan-600 to-blue-700">
                <a target="_blank" rel='noopener noreferrer'
                    href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=NmVsZDFsa2lhOTRzNmRjdWVkdnNpYmx2bG8gbWlkdWdhQG0&amp;tmsrc=miduga%40gmail.com">
                    MARTES 13 de SEPTIEMBRE 2022 - 17:00 CET
                </a>
            </p>
            <p
                class="flex items-center font-bold tracking-wider text-transparent bg-clip-text bg-gradient-to-r from-purple-600 to-purple-900">
                <svg class="w-8 h-8 pr-2 text-purple-600" viewBox="0 0 24 24">
                    <path fill="currentColor"
                        d="M11.571 4.714h1.715v5.143H11.57zm4.715 0H18v5.143h-1.714zM6 0 1.714 4.286v15.428h5.143V24l4.286-4.286h3.428L22.286 12V0zm14.571 11.143-3.428 3.428h-3.429l-3 3v-3H6.857V1.714h13.714Z">
                    </path>
                </svg> EN <a class="inline-block pl-2 underline" href="https://twitch.tv/midudev" rel="noopener"
                    target="_blank">TWITCH.TV/MIDUDEV
                </a>
            </p>

            <p
                class="pt-3 mt-8 mb-2 text-xl font-semibold leading-relaxed text-gray-700 lg:mb-4 xl:pt-5 sm:text-2xl lg:text-xl xl:text-2xl lg:w-6/12 max-w-prose">
                Descubre las últimas tendencias de desarrollo y programación web de
                la mano de gente tremenda y GRATIS.
            </p>

            <div class="pt-5 space-y-4 leading-6 text-center xl:pt-8 xl:space-y-5">
                <Button text="¡Quiero enviar una propuesta!" href="https://forms.gle/1Jtfi7Fh4iee7Qv29" />
                <p class="flex items-center content-center justify-center text-sm font-semibold">
                    ¡Abierto hasta el 15 de Agosto!<svg viewBox="0 0 72 72" class="w-8 h-8 -mt-4 animate-bounce">
                        <path fill="#3F3F3F"
                            d="M40.1841 12 26.1294 26.8587l3.7285 3.413 7.5107-7.9438v16.4924c0 10.5232-5.7598 15.6386-17.6094 15.6386h-1V60h1c14.9902 0 23.2461-7.522 23.2461-21.1797V22.3331l7.5078 7.9386 3.7275-3.413L40.1841 12z">
                        </path>
                        <path fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round"
                            stroke-miterlimit="10" stroke-width="2"
                            d="M40.1841 12 26.1294 26.8587l3.7285 3.413 7.5107-7.9438v16.4924c0 10.5232-5.7598 15.6386-17.6094 15.6386h-1V60h1c14.9902 0 23.2461-7.522 23.2461-21.1797V22.3331l7.5078 7.9386 3.7275-3.413L40.1841 12z">
                        </path>
                    </svg>
                </p>
            </div>
        </div>
    </div>
</div>