---
import { LoginButton } from '@components/LoginButton'
import { TicketsSold } from '@components/TicketsSold'
import CalendarScriptAndStyles from '@components/CalendarScriptAndStyles.astro'
import { Countdown } from '@components/Countdown'
import Button from '@components/Button.astro'
import { Meteors } from './MeteorLanguages'
import TicketCard from './TicketCard.astro'
---

<CalendarScriptAndStyles />
<Meteors client:visible />

<div class='block px-6 mx-auto max-w-7xl'>
	<div
		class='flex flex-col flex-wrap items-center justify-center w-full pt-5 pb-40 mx-auto leading-6 text-black lg:pt-24 lg:px-10 lg:flex-row gap-x-16 mt-32 max-w-[1300px]'
	>
		<div class='relative flex flex-col items-center text-black w-[500px]'>
			<h1
				class='pt-4 mx-auto mb-0 text-6xl font-black bg-clip-text text-transparent bg-gradient-to-r text-white xl:pt-6 sm:text-[6rem] lg:text-[8rem] leading-none text-left'
			>
				miduConf
			</h1>

			<h4 class='text-2xl font-bold text-sky-100 [text-wrap:balance]'>
				Una conferencia de Programación y Tecnología para aprender, divertirte e insipirarte.
			</h4>
			<div id='twitch-embed-parent' class='hidden w-full mt-10'>
				<div id='twitch-embed' class='w-full aspect-video'></div>
			</div>
			<div class='flex pt-4 text-left gap-x-8'>
				<p
					id='add-to-calendar'
					class='relative flex flex-col items-center text-6xl font-bold transition cursor-pointer text-sky-200 hover:contrast-200 hover:scale-125'
				>
					<span class='h-24 font-black text-8xl'>13</span>
					<span class='text-3xl'>Septiembre</span>
					<span class='text-lg'
						><span id='conference-hour'>17</span>H - <span id='conference-timezone'>Madrid</span>
					</span>
				</p>
				<a
					href='https://twitch.tv/midudev'
					rel='noopener'
					target='_blank'
					class='relative z-0 flex flex-col items-center font-bold transition hover:scale-125 hover:contrast-200'
				>
					<div
						class='absolute inset-0 w-full h-full m-auto rounded-full opacity-25 -z-10 aspect-square bg-gradient-to-r from-purple-600 via-purple-300 to-purple-300/10 blur-xl'
					>
					</div>
					<svg class='block w-20 h-24 pr-2 text-purple-300' viewBox='0 0 24 24'>
						<path
							fill='currentColor'
							d='M11.571 4.714h1.715v5.143H11.57zm4.715 0H18v5.143h-1.714zM6 0 1.714 4.286v15.428h5.143V24l4.286-4.286h3.428L22.286 12V0zm14.571 11.143-3.428 3.428h-3.429l-3 3v-3H6.857V1.714h13.714Z'
						>
						</path>
					</svg>
					<span class='pl-2 text-2xl font-bold tracking-wider text-purple-300'
						>twitch.tv<br />/midudev</span
					>
				</a>
			</div>

			<Countdown client:visible targetDate={new Date(1694620800000)} />

			<!-- <div class='pt-5 space-y-4 leading-6 text-center xl:pt-20 xl:space-y-5'>
				<TicketsSold client:visible />
				<div>
					<LoginButton redirect={true} client:visible />
				</div>
			</div> -->
		</div>
		<TicketCard />
	</div>
</div>

<!-- Load the Twitch embed script -->
<!-- <script is:inline src='https://player.twitch.tv/js/embed/v1.js'></script> -->

<!-- Create a Twitch.Player object. This will render within the placeholder div -->
<script type='text/javascript'>
	// fetch('https://midudev-apis.midudev.workers.dev/uptime/midudev')
	// 	.then((res) => res.json())
	// 	.then(({ online }) => {
	// 		if (online) {
	// 			// eslint-disable-next-line no-new, no-undef
	// 			new Twitch.Player('twitch-embed', {
	// 				channel: 'midudev',
	// 				width: '100%',
	// 				height: '100%'
	// 			})
	// 			document.getElementById('twitch-embed-parent').style.display = 'block'
	// 		}
	// 	})
	// 	.catch(err => {
	// 		console.error(err)
	// 	})
</script>

<script type='module'>
	const transformCities = {
		Canary: 'Islas Canarias'
	}

	const d = new Date('2023-09-13T17:00:00+02:00')
	const date = d.toLocaleTimeString('es-ES', { hour: '2-digit' })

	const $hour = document.querySelector('#conference-hour')
	const $timezone = document.querySelector('#conference-timezone')

	const { timeZone } = Intl.DateTimeFormat().resolvedOptions()

	const cityTimeZone = timeZone.replaceAll('_', ' ').split('/').pop()
	const cleanCityTimeZone = transformCities[cityTimeZone] || cityTimeZone

	if ($timezone && $hour) {
		$timezone.innerText = cleanCityTimeZone
		$hour.innerText = date
	}
</script>
