---
const COLORS = {
  orange: ['#FF8008', '#FFC837'],
  purple: ['#D676EA', '#8227FE']
}

const [from, to] = COLORS[Astro.props.color]
---
<span class={`bg-clip-text bg-gradient-to-r from-[${from}] to-[${to}] text-transparent tracking-tigh`}><slot /></span>