<section
	id='hero'
	class='relative w-full overflow-hidden bg-gradient-to-r from-miduconf-yellow-100 via-miduconf-yellow-100 to-miduconf-orange-100'
	style='clip-path: polygon(25% 0%, 100% 0, 100% 95%, 0 100%, 0 100%, 0 0)'
>
	<slot />
</section>
