<a
	class='flex items-center justify-center transition hover:contrast-200 hover:scale-125'
	href='https://codely.com/pro/midudev'
	target='_blank'
	title='Sube de nivel. Haz c칩digo m치s escalableSube de nivel. Haz c칩digo m치s mantenible, escalable y testable.'
	rel='noopener'
>
	<svg class='w-auto h-24 transition-colors fill-current' width='463' height='114' viewBox='0 0 463 114' fill='none' xmlns='http://www.w3.org/2000/svg'>
		<path d='M21.9765 44.4391H0V66.4155H21.9765V44.4391Z' fill='#3CFF64'/>
		<path d='M43.9528 22.4691H21.9764V44.4456H43.9528V22.4691Z' fill='#3CFF64'/>
		<path d='M43.9528 66.4153H21.9764V88.3918H43.9528V66.4153Z' fill='#3CFF64'/>
		<path d='M131.845 66.4153H153.821V44.4389H131.845V66.4153Z' fill='#3CFF64'/>
		<path d='M109.868 88.3844H131.844V66.4079H109.868V88.3844Z' fill='#3CFF64'/>
		<path d='M109.87 44.4386H131.846V22.4622L109.87 22.4622V44.4386Z' fill='#3CFF64'/>
		<path d='M65.922 0.477661H43.9456V22.4541H65.922V0.477661Z' fill='#3CFF64'/>
		<path d='M65.922 88.3844H43.9456V110.361H65.922V88.3844Z' fill='#3CFF64'/>
		<path d='M109.881 0.477661H87.9047V22.4541H109.881V0.477661Z' fill='#3CFF64'/>
		<path d='M109.881 88.3844H87.9047V110.361H109.881V88.3844Z' fill='#3CFF64'/>
		<path d='M197.784 56.2386C197.784 42.7047 207.187 33.1293 219.928 33.1293C229.835 33.1293 238.816 38.6643 240.311 49.295H231.351C230.296 44.7248 226.079 40.9472 219.928 40.9472C212.175 40.9472 206.657 47.4515 206.657 56.2386C206.657 64.6725 211.753 71.0001 220.01 71.0001C226.075 71.0001 229.852 68.0108 231.519 63.2683H240.483C238.902 72.7446 230.908 78.8181 220.01 78.8181C206.485 78.8181 197.784 69.1522 197.784 56.2386Z' fill='#3CFF64'/>
		<path d='M246.367 55.9757C246.367 42.6227 255.842 33.1464 268.763 33.1464C281.684 33.1464 291.345 42.7217 291.345 55.9757C291.345 69.2296 281.68 78.805 268.763 78.805C255.945 78.8222 246.367 69.1564 246.367 55.9757ZM282.477 55.9757C282.477 47.7183 276.942 40.9514 268.772 40.9514C260.601 40.9514 255.243 47.7183 255.243 55.9757C255.243 64.1598 260.601 71.0042 268.772 71.0042C276.942 71.0042 282.481 64.1511 282.481 55.9757H282.477Z' fill='#3CFF64'/>
		<path d='M341.005 15.5543V77.9386H333.708L332.92 72.0546H332.304C330.107 75.0397 325.8 78.8173 318.421 78.8173C306.644 78.8173 298.034 69.7717 298.034 55.8846C298.034 41.8252 306.912 33.1286 318.421 33.1286C325.188 33.1286 329.754 36.2041 332.041 39.1029V15.5543H341.005ZM332.041 55.8846C332.041 47.0113 327.208 40.9465 319.739 40.9465C312.184 40.9465 306.998 47.0113 306.998 55.8846C306.998 64.9302 312.167 70.9993 319.739 70.9993C327.208 70.9993 332.041 64.9345 332.041 55.8846V55.8846Z' fill='#3CFF64'/>
		<path d='M390.907 58.2464H358.395C358.825 66.0644 363.564 71.5133 371.317 71.5133C376.852 71.5133 380.892 69.2303 382.301 64.7463H390.916C389.068 73.5334 381.689 78.8057 371.321 78.8057C358.666 78.8057 349.616 69.9324 349.616 56.4071C349.616 42.0849 359.019 33.1255 370.968 33.1255C381.689 33.1255 391.092 40.2414 391.092 55.3561C391.084 56.2262 390.993 57.1049 390.907 58.2464ZM358.481 51.9188H382.383C382.297 45.1518 377.726 40.4093 370.959 40.4093C364.02 40.4093 359.36 45.505 358.481 51.9188Z' fill='#3CFF64'/>
		<path d='M400.066 15.5543H409.03V77.9386H400.066V15.5543Z' fill='#3CFF64'/>
		<path d='M418.492 95.4212V88.6543C420.02 89.016 421.58 89.2223 423.148 89.2702C427.188 89.2702 430.793 87.599 432.727 82.9427L434.657 77.9331H431.758L414.801 33.9974H424.113L437.12 68.7023H437.822L450.024 34.0017H459.34L441.061 84.2607C439.834 87.866 436.672 96.3861 425.073 96.3861C422.847 96.3526 420.635 96.0282 418.492 95.4212Z' fill='#3CFF64'/>
	</svg>
</a>
