<a
	class='flex items-center justify-center transition hover:text-white'
	href='https://www.twilio.com/referral/xdppiQ'
	rel='noopener'
	target='_blank'
>
	<svg
		class='w-auto h-8 fill-current sm:h-10'
		xmlns='http://www.w3.org/2000/svg'
		viewBox='0 0 2501 753'
	><defs></defs><g fill-rule='nonzero' transform='translate(.817 .836)'
		><path
				d='M1761.432 147.413h-132.37c-3.009 0-6.017 3.008-6.017 6.017v76.714c0 3.009 3.008 6.017 6.016 6.017h132.371c3.008 0 6.017-3.008 6.017-6.017V153.43c1.504-3.009-1.504-6.017-6.017-6.017zm-1.504 114.32h-255.716c-3.009 0-7.521 3.008-9.025 6.017l-33.093 124.85-1.504 6.016-39.11-133.875c-1.504-3.008-4.512-6.017-9.025-6.017h-99.278c-3.009 0-7.521 3.009-9.025 6.017l-37.606 124.85-1.504 6.017-1.504-3.009-15.042-61.672-16.547-61.673c-1.504-3.009-4.512-6.017-9.025-6.017h-200.06V154.934c0-3.009-4.513-7.521-9.025-6.017l-126.354 39.11c-4.513 1.504-6.017 3.008-6.017 6.016v67.69h-33.093c-3.008 0-6.016 3.008-6.016 6.017v96.27c0 3.008 3.008 6.016 6.016 6.016h33.093v117.329c0 82.731 45.126 121.84 127.858 121.84 34.597 0 67.69-7.52 90.253-19.554v-99.278c0-4.513-4.513-6.017-7.521-6.017-13.538 6.017-24.068 7.521-36.101 7.521-22.564 0-34.597-9.025-34.597-34.597v-85.74h72.202c3.008 0 6.017-3.008 6.017-6.017v-81.227l94.765 314.38c1.504 3.009 4.513 6.017 9.025 6.017h105.295c3.009 0 7.521-3.008 9.026-6.017l45.126-139.891 22.563 72.202 21.059 66.185c1.504 3.009 4.513 6.017 9.025 6.017h105.295c3.009 0 7.521-3.008 9.025-6.017l96.27-315.884v315.884c0 3.009 3.008 6.017 6.017 6.017h127.858c3.008 0 6.017-3.008 6.017-6.017V269.254c0-4.513-3.009-7.521-6.017-7.521zm168.472-114.32h-127.858c-3.009 0-6.017 3.008-6.017 6.017v443.742c0 3.009 3.008 6.017 6.017 6.017H1928.4c3.008 0 6.016-3.008 6.016-6.017V153.43c0-3.009-3.008-6.017-6.016-6.017zm169.975 0h-132.37c-3.009 0-6.017 3.008-6.017 6.017v76.714c0 3.009 3.008 6.017 6.017 6.017h132.37c3.009 0 6.017-3.008 6.017-6.017V153.43c1.505-3.009-1.504-6.017-6.017-6.017zm-1.504 114.32h-127.858c-3.008 0-6.017 3.008-6.017 6.017v329.422c0 3.009 3.009 6.017 6.017 6.017h127.858c3.009 0 6.017-3.008 6.017-6.017V269.254c0-4.513-3.008-7.521-6.017-7.521zm212.094-7.521c-112.816 0-192.539 82.731-192.539 179.001v1.504c0 96.27 79.723 177.497 191.035 177.497 112.816 0 192.539-82.731 192.539-179.001v-1.504c0-96.27-79.723-177.497-191.035-177.497zm54.152 179.001c0 33.093-22.563 58.664-54.152 58.664-31.588 0-55.656-27.076-55.656-60.168v-1.504c0-33.093 22.563-58.665 54.152-58.665 31.588 0 55.656 27.076 55.656 61.673zM376.053 0C168.472 0 0 168.472 0 376.053s168.472 376.053 376.053 376.053 376.053-168.472 376.053-376.053S583.634 0 376.053 0zm0 652.828c-153.43 0-276.775-123.345-276.775-276.775 0-153.43 123.345-276.775 276.775-276.775 153.43 0 276.775 123.345 276.775 276.775 0 153.43-123.345 276.775-276.775 276.775z'
			></path><circle cx='469.314' cy='282.792' r='78.219'></circle><circle
				cx='469.314'
				cy='469.314'
				r='78.219'></circle><circle cx='282.792' cy='469.314' r='78.219'></circle><circle
				cx='282.792'
				cy='282.792'
				r='78.219'></circle>
		</g>
	</svg>
</a>
