@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.button-ticket {
		@apply flex items-center w-[5.5rem] h-24 p-4 rounded-lg hover:scale-110 hover:opacity-100 hover:contrast-100 transition-all opacity-60 contrast-75;
	}

	.flavour-selected {
		@apply pointer-events-none opacity-100 contrast-100 drop-shadow-4xl;
	}
}

#twitch-embed-parent {
	background: #9046ffc2;
	padding: 16px;
	animation: twitch-bg 3s ease infinite;
	border-radius: 16px;
	box-shadow: 0px 0px 100px 5px rgba(140, 0, 255, 0.52);
}

@keyframes twitch-bg {
	0% {
		background: #9046ffc2;
	}
	50% {
		background: #d146ff;
	}
	100% {
		background: #9046ffc2;
	}
}
